.descriptionBlock {
    padding: 10px;
}

.profilePhoto{
    width: 100px;
    height: 100px;
}

.fileButton {
    color: black;
    padding: 8px 0px;
    text-decoration: none;
    border-radius: 10px;
}