.descriptionBlock {
    padding: 10px;
}

.profilePhoto{
    width: 100px;
    height: 100px;
}

.fileButton {
    color: black;
    padding-bottom: 4px;
    text-decoration: none;
    border-radius: 10px;
}

.contact {
    padding-left: 10px;
}